<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Sign up</h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">Enter username: </label>
            <input type="text" id="username" placeholder="username" name="username">
        </div>
        <div>
            <label for="pw">Enter password: </label>
            <input type="password" id="pw" name="password">
        </div>
        <div>
            <button>Register!</button>
        </div>
    </form>
</body>

</html>