<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a product</title>
</head>

<body>
    <h1><%= farm.name %></h1>
    <h2>Add a new product to the inventory</h2>
    <form action="/farms/<%= farm._id %>/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product Name">

        <label for="price">Unit Price</label>
        <input type="number" name="price" id="price" step="0.1">

        <label for="category">Category</label>
        <select name="category" id="category">
            <% for (let c of categories) { %>
            <option value="<%=c%>"><%=c%></option>
            <% } %>"
        </select>
        <button>Add Product</button>
    </form>
    <a href="/products">Go home</a>

</body>

</html>