<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Document!</title>
</head>

<body>
    <h1>Homepage!</h1>
    <!-- <%= %> is like a js literal -->
    <!-- Evaluates to 4+5+1 -> 10 -->
    <h2><%= 4+5+1 %></h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nemo eaque tempore necessitatibus quasi optio
        reiciendis totam, modi quo aperiam sit commodi dolor alias ut similique maxime molestias itaque odio.</p>

</body>

</html>