<% layout('layouts/boilerplate') %>

<form action="/campgrounds/<%= grounds._id%>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="campground[title]" id="title" value="<%= grounds.title %>">
    </div>

    <div>
        <label for="location">Location</label>
        <input type="text" name="campground[location]" id="location" value="<%= grounds.location %>">
    </div>

    <button>Update</button>
</form>

<footer>
    <a href="/campgrounds/<%= grounds._id %>">Go back to details</a>
</footer>