<% layout('layouts/boilerplate') %>

<form action="/campgrounds" method="POST">
    <div>
        <label for="title">Title</label>
        <!-- the square brackets group content in the json resp of form -->
        <input type="text" name="campground[title]" id="title">
    </div>

    <div>
        <label for="location">Location</label>
        <!-- the square brackets group content in the json resp of form -->
        <input type="text" name="campground[location]" id="location">
    </div>

    <button>Add</button>
</form>

<footer>
    <a href="/campgrounds">Go back!</a>
</footer>