<% layout('layouts/boilerplate') %>

<h1>Viewing campground details...</h1>
<p><%= grounds.title %> is located at <%= grounds.location %></p>
<a href="/campgrounds/<%= grounds._id %>/edit">Edit</a>

<form action="/campgrounds/<%= grounds._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<footer>
    <a href="/campgrounds">Back to all campgrounds</a>
</footer>